

    <button onclick="location.href='/'">VOLVER A PRINCIPAL</button>
    <h1>{{greetings}}</h1>
    {{#each compras}}
    <div class="productList">
        <h2 style="color: blue">{{this.objeto}}</h2>
        <h2 style="color: blue">{{this.precio}}</h2>
        <img src={{this.url}} style="width: 150px; height: 150px">
    </div>
    {{/each}}
